{% extends 'associado/base.html' %}
{%load static %}
{% block content %}    
        <section class="tabela-socios">
            <h2>Últimas Empresas Atualizadas</h2>
            {% for e in empre %}
            <div class="linha-socio">
                <span>ID: {{e.id}}</span>
                <strong> {{e.nome}}:{{e.cnpj}}</strong>
                <!-- se cidade for none então mostrar "Cidade não informada" -->
                <strong> {{e.cidade|default:"Cidade não informada"}}</strong>
                <a href="{% url 'empresa' %}" class="btn-link">Ver Detalhes</a>
            </div>
            {% endfor %}
        </section>
{% endblock %}