{% extends 'associado/base.html' %}

{% block content %}
     
   <main class="container-dashboard">
     <header class="header-interna">
        <h1>Painel Administrativo</h1>
        <p>Bem-vindo ao sistema de gestão do SindApp.</p>
     </header>


     <div class="cards-grid">
        <div class="card-status azul">
            <h3>{{stats.ativos}}</h3>
            <p>Sócios Ativos</p>
        </div>
        <div class="card-status laranja">
            <h3>{{stats.pendentes}}</h3>
            <p>Pendentes</p>
        </div>
        <div class="card-status verde">
            <h3>{{stats.inativos}}</h3>
            <p>Inativos</p>
        </div>
     </div>

     <div class="acoes-dashboard">
        <button class="btn-novo">+ Novo Sócio</button>
        <div class="busca-container-direita">
           {% include 'associado/partials/_busca.html' %}
        </div>
     </div>  

     <section class="tabela-socios">
        <h2>Últimos Associados Atualizados</h2>
       

     </section>
   </main>

{% endblock %}
